.modal__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.15);
    pointer-events: visible;
  }

.modal__inner {
  display: flex;
} 
  


