.modal__wrapper-active{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 1;
    pointer-events: visible;
  }
  
  .modal__wrapper-notactive {
    opacity: 0;
  }
  
  .modal__wrapper-active .modal__inner {
    transform: translateY(0);
  }
  
  .modal__wrapper-notactive .modal__inner {
    transform: translateY(-200px);
  }


